.app {
  margin-left: 5%;
  margin-right: 5%;
}

.no-bulletpoints{
  
    list-style-type: none;
    margin: 0;
    padding: 0;
  
}

.assigned-HP-servicecard{
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(206, 206, 206);
  padding: 10px;
  margin-bottom: 30px;
}

.login-form {
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(206, 206, 206);
}

.site-navbar {
  padding: 5%;
}

.basic-form {
  width: 400px;
}

.service-request-hp-row{
  width: 20%;
  height: 35px;
}

.care-taker-request-card {
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(206, 206, 206);
  padding: 10px;
  margin-bottom: 30px;
}
.staff-card {
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(206, 206, 206);
  padding: 10px;
  margin-bottom: 10px;
}

.advertisement-job-card {
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(206, 206, 206);
  padding: 10px;
  margin-bottom: 30px;
}

.service-detail-card {
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(206, 206, 206);
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
}

.day-of-week-box {
  border: 1px solid rgb(206, 206, 206);
  border-radius: 5px;
  width: 40px;
  text-align: center;
  margin-right: 5px;
  display: inline-block;
}
